.main-container{
    overflow-y: scroll;
    height: 80vh;
}

.post-image{
    max-height: 200px !important;
    width: auto;
    margin: 0px !important;
    padding: 0px !important;
}

.modal-container{
    width: 80vw !important;
    height: 70vh !important;
}